<div class="main">
  <h1>Welcome to NPC Medical</h1>
  <p>
    Welcome to our Rural Medical Practitioner Dashboard! Our platform is
    dedicated to catering to the healthcare needs of our rural community,
    providing accessible and personalized care for all. As a general physician,
    our primary focus is on delivering compassionate and comprehensive
    healthcare services tailored to meet the unique requirements of rural life.
    Through this dashboard, you'll discover a range of services aimed at
    ensuring your well-being and health maintenance. From scheduling
    appointments for consultations, obtaining vital medical information, to
    accessing resources specifically curated for rural health concerns, our goal
    is to bridge the gap between quality healthcare and the rural population.
    We're committed to fostering a nurturing environment where your health
    concerns are heard, addressed, and managed effectively. Thank you for
    entrusting us with your health, and we're here to support you every step of
    the way.
  </p>
  <div>
    <app-calculator></app-calculator>
  </div>
</div>

<div class="sticky-bottom-right">
  <p>You are here for {{ timeOnSite }} seconds</p>
  <p>Time is Money 😂🙌😅</p>
</div>
