/* You can add global styles to this file, and also import other style files */
body {
  /* Set the URL of your transparent background image */
  background-image: url('https://img.freepik.com/free-vector/abstract-grey-wave-transparent-modern-background_1055-10324.jpg?w=740&t=st=1704264626~exp=1704265226~hmac=667d2ede4da73016e5953a0c7b12ed0cac8c75f75140537ebd3fa4b244a86106'); /* Replace 'path_to_your_image.png' with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) to change transparency (0 = fully transparent, 1 = fully opaque) */
}
